<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b220ffb2-d010-40fb-8015-19459afa8d48" Alias="Tag List" Level="1">
  <Info>
    <Name>Tag List</Name>
    <EditorAlias>TagList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "group": "group"
}]]></Config>
</DataType>