<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce1c8861-45a0-44c3-83c4-6797f52192db" Alias="test" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/test</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2024-04-16T22:09:06</CreateDate>
    <NodeName Default="test">
      <Name Culture="en-gb">test</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="en-gb">true</Published>
    </Published>
    <Schedule />
    <Template Key="c604acfe-4b21-4e46-81f4-b2b34d850fd1">content</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value Culture="en-gb"><![CDATA[]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value Culture="en-gb"><![CDATA[[]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value Culture="en-gb"><![CDATA[]]></Value>
    </subtitle>
    <tagList>
      <Value Culture="en-gb"><![CDATA[[
  "tag2",
  "tag3"
]]]></Value>
    </tagList>
    <tags>
      <Value Culture="en-gb"><![CDATA[]]></Value>
    </tags>
    <title>
      <Value Culture="en-gb"><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>