/*CSS for backoffice */
.tag-cards-container {
    display: grid;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

.tag-card {
    cursor: pointer !important;
    margin: 0;
}

    .tag-card.selected {
        outline-color: #3544b1;
        outline-width: 3px;
        outline-style: solid;
        cursor: pointer !important;
    }

.tags-grid-container {
    container-type: inline-size;
}

@container (width < 80em) {
    .tag-cards-container {
        grid-template-columns: 1fr 1fr;
    }
}

@container (width < 60em) {
    .tag-cards-container {
        grid-template-columns: 1fr;
    }
}
